.product-in-cart {
    display: flex;
    flex-direction: column;
    min-width: 880px;
  }
  
.product-card-in-cart {
    display: flex;
    align-items: center;
    /*border: 1px solid #ccc; 
    padding: 10px; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255,1) 28%, rgba(255, 255, 255,1) 32%, rgb(255, 255, 255) 100%);
    margin-bottom: 20px; 
    /*box-shadow: 1px 1px 10px 5px #faf9f8;*/
    position: relative;
    overflow: hidden;
    max-width: 880px;
    
  }
  .product-card-in-cart img{
    position: relative;
    z-index: -2;
    transition-duration: 1s;
    
  }
  .product-card-in-cart:hover img{
    transform: scale(1.2);
    transition-duration: 2s;
  }
.card-image {
    width:300px;
    /*max-height: 215px;*/
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  
.product-name {
    font-size:1.3rem;
    margin: 0vw 0vw 0vw 1vw;
  }
.first-box{
    display: flex;
    margin: 1vw 0vw auto 0;
    min-width: 25%;
  }
.second-box{
    display: flex;
    align-items:flex-end;
    margin: auto 1% 1vw 0;
  }
.third-box{
    display: flex;
    align-items:flex-end;
    margin: auto 1vw 1vw 0;
  }
.get-centered{
    display: flex;
    align-items: flex-start;
    margin: 3vh auto;
    justify-content: center;
    min-height: 71vh;
  }

.quantityControlWithAmount{
    align-items: center;
    flex-wrap: nowrap;
}

.checkout{
    height: 14vh;
    width: 20%;
    padding: 1vw 1vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 6;
    right: 10%;
    bottom: 8%;
    margin-left: 1vw;
    justify-content: space-between;
}
@media (max-width: 1233px) {
  .checkout {
    right: 1%;
  }
}

.checkout p{
  color: #222;
}

.checkout-amount{
  display: flex;
  justify-content: space-between;
  width:100%;
}

.checkout-button{
background-color: #222;
border: none;
height: 2.2em;
color: #fff;
width: 100%;
font-size: 1.4rem;
font-family: 'Playfair Display', sans-serif;
}
.checkout-button:hover {
  background-color:#555555;
}