.product-in-cart {
    display: flex;
    flex-direction: column;
    align-items: left;
    
  }
  
.product-card-in-cart {
    display: flex;
    align-items: center;
    /*border: 1px solid #ccc; 
    padding: 10px; */
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(176,175,182,0) 20%, rgba(241, 241, 241,1) 28%, rgba(241, 241, 241,1) 32%, rgb(241, 241, 241) 100%);
    margin-bottom: 20px; 
    box-shadow: 1px 1px 10px 5px #eaeaea;
    position: relative;

    overflow: hidden;
    
  }
  .product-card-in-cart img{
    position: relative;
    z-index: -2;
    transition-duration: 1s;
    
  }
  .product-card-in-cart:hover img{
    transform: scale(1.2);
    transition-duration: 2s;
  }
.card-image {
    width:300px;
    /*max-height: 215px;*/
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  
.product-name {
    font-size:24px;
    margin: 0vw 0vw 0vw 1vw;
  }
.first-box{
    display: flex;
    margin: 1vw 0vw auto 0;
    min-width: 24vw;
  }
.second-box{
    display: flex;
    align-items:flex-end;
    margin: auto 1vw 1vw 0;
  }
.third-box{
    display: flex;
    align-items:flex-end;
    margin: auto 1vw 1vw 0;
  }
.get-centered{
    display: flex;
    align-items: center;
    margin: 3vh auto;
    justify-content: center;
  }

.quantityControlWithAmount{
    align-items: center;
}

.checkout{
    height: 14vh;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1vw 1vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    z-index: 6;
    position: fixed;
    right: 10%;
    bottom: 8%;
}
@media (max-width: 1233px) {
  .checkout {
    right: 1%;
  }
}

.checkout p{

}
.checkout-button{
background-color: orange;
border: none;
font-size: 3em;
height: 4em;
}