.quantityControl {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  
  .quantityButton {
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .quantityInput {
    border: none;
    text-align: center;
    width: 40px;
    padding: 4px;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .quantityInput::-webkit-inner-spin-button,
  .quantityInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .second-box button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .second-box button:hover {
    background-color: #333;
  }